*{
    margin: 0;
    box-sizing: border-box;
}

body{
  height: 100vh;
}

#app{
  height: 100%;
}

.canva{
    height: 100%;
    background-color: black;
}

h1{
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.canva2{
    width: 100%;
    height: 95%;
    display: flex;
}

.terminal{
    height: 100%;
    width: 75%;
    background-color: #350a35;
    border: 1px solid whitesmoke;
}

.terminal:hover{
    border: 1px solid yellow;
}

input,p{
    background-color: #350a35;

    color: rgb(207, 207, 77);
    font-weight: bold;
    border: none;
}

input:focus{
    outline: none;
}


.monitor{
    width: 25%;
    height: 100%;   
    background-color: black;
    display: flex;
}

.screen{
    background-color: grey;
    width: 90%;
    height: 30%;
    margin: auto;
    justify-content: center;
    display: flex;
}

.box{
    width: 250px;
    height: 150px;
    background-color: white;
    margin: auto;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: start;

}

.inputHeigt{
    height: 30px;
}

.terminal > p{
    margin-top: 10px;
    margin-right: 10px;
}

.terminal > input{
    margin-top: 4px;
}